.mantenimiento-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f4f8; 
    padding: 20px;
  }
  

  .mantenimiento-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(239, 239, 243, 0.936);
    max-width: 600px;
    text-align: center;
  }
  
  .mantenimiento-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #e5ebf0;
  }
  

  .mantenimiento-content p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #d1d1d2;
    margin-bottom: 30px;
  }

  .mantenimiento-content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
    color:#d1d1d2;
  }
  
  .mantenimiento-content ul li {
    font-size: 1.1em;
    padding: 10px;
    background-color: #e0f7fa;
    margin: 5px 0;
    border-radius: 5px;
  }
  

  .solicitar-servicio-btn {
    padding: 15px 30px;
    background-color: #f2f3f4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .solicitar-servicio-btn:hover {
    background-color: #fdfeff;
    transform: scale(1.05);
  }
  

  .mantenimiento-content button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(231, 233, 235, 0.5);
    color:#d1d1d2;
  }
  